/* Colours */

:root {
  --clr-dark-300: #161616;
  --clr-dark-400: #202020;
  --clr-dark-500: #494949;

  --clr-light-200: #8f8f8f;
  --clr-light-300: #cfcfcf;
  --clr-light-400: #e8e8e8;

  --clr-compl-300: #05307a;
  --clr-compl-400: #052c38;

  --clr-primary-200: #1c1e2b;
  --clr-primary-300: #1d1e26;
  --clr-primary-400: #31344a;

  --clr-accent-200: #25a8ff;
  --clr-accent-280: #0077c7;
  --clr-accent-300: #005a99;
  --clr-accent-400: #dbaa6a;
}

/* Sticky header and footer pushed down */
#__next {
  height: 100%;
  display: flex;
  flex-direction: column;
}
html {
  height: 100%;
}
body {
  position: relative;
  height: 100%;
  min-height: 100svh;
}
header,
footer {
  flex-grow: 0;
  flex-shrink: 0;
}
main {
  flex-grow: 1;
}
header {
  position: sticky;
  top: 0;
  z-index: 1000;
}
footer {
  margin-top: auto;
}

/* ///////////////////// */
body {
  font-family: sans-serif;
}

header {
  background-color: rgb(2, 44, 159);
}
main {
  min-height: 100%;
  height: auto;
  color: var(--clr-light-300);
  background-color: var(--clr-primary-200);
}
.wrapper {
  display: grid;
  grid-template-columns: 260px 1fr;
}

.tree-nav {
  height: 100%;
  color: var(--clr-light-300);
  background-color: var(--clr-dark-300);
  overflow-y: auto;
}
