/* Sticky header and footer pushed down */
#__next {
  height: 100%;
  display: flex;
  flex-direction: column;
}
html {
  height: 100%;
}
body {
  position: relative;
  height: 100%;
  min-height: 100svh;
}
header,
footer {
  flex-grow: 0;
  flex-shrink: 0;
}
main {
  flex-grow: 1;
}
header {
  position: sticky;
  top: 0;
  z-index: 1000;
}
footer {
  margin-top: auto;
}

/* ///////////////////// */
body {
  font-family: sans-serif;
}

header {
  background-color: rgb(2, 44, 159);
}
main {
  background-color: hsl(0, 26%, 4%);
  height: calc(100% - 24px);
  color: antiquewhite;
}
.container {
  display: flex;
  flex-direction: row;
}
.tree-nav {
  position: sticky;
  top: 0px;
  flex-shrink: 0;
  width: 260px;
  height: 100%;
  color: antiquewhite;
  background-color: hsl(310, 100%, 13%);
}

.chatbox-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.chatbox-conversation {
  height: 100%;
  margin-bottom: 100px;
  overflow-y: auto;
}
.chatbox-response {
  padding: 0.5rem;
  background-color: hsl(0, 26%, 4%);
  border-top: 2px solid #110a0a;
}
.chatbox-response textarea {
  width: 100%;
  resize: none;
  color: #e2d592;
  background-color: hsl(0, 26%, 12%);
  padding: 10px 16px;
  border: 1px solid #e2d592;
  border-radius: 5px;
  cursor: pointer;
}
.chatbox-response textarea:focus {
  outline: 2px solid #e2d592;
  cursor: text;
}
.chatbox-input-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: hsl(194, 89%, 8%);
  padding: 0.5rem;
}

.chatbox-input--text {
  width: 100%;
  resize: none;
  padding: 10px 16px;
  color: hsl(194, 90%, 95%);
  background-color: hsl(194, 83%, 12%);
  border-radius: 5px;
}
