.app {
  height: 100%;
}

.treeRoot {
  height: 100%;
}

.draggingSource {
  opacity: 0.3;
}

.dropTarget {
  background-color: #e8f0fe;
}

.li:nth-child(even) {
  background-color: hsl(310, 70%, 37%);
  padding: 2px 0;
}
.li:nth-of-type(odd) {
  background-color: hsl(310, 100%, 13%);
  padding: 2px 0;
}
