.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.treeRoot {
  height: 100%;
}

.draggingSource {
  opacity: 0.3;
}

.li:nth-child(even) {
  background-color: hsl(310, 70%, 37%);
  padding: 2px 0;
}
.li:nth-of-type(odd) {
  background-color: hsl(310, 100%, 13%);
  padding: 2px 0;
}

.treeRoot .li .dropTarget {
  background-color: hsl(218, 92%, 25%);
}
